{%load static %}
<html>
    <haed>
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    </haed>
    <body>
        <h1> This is index template </h1>
        
        <h4>
            <!--<a href="/myapp/hello/{{item.id}}/">-->
            {% for item in items %}
            <a href="{% url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Имя: {{item.name}} | Цена: {{item.price}} | {{item.description}} <br/>
            </a>
            {% endfor %}
        </h4>
    </body>
</html>