{%load static %}
<html>
    <haed>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </haed>
    <body>
    <nav>
        <div>
            <div>
                <div>
                    <div>
                        <img class="h-8 w-8" src="{% static 'myapp/images/shop.png' %}" alt="logo"/>
                    </div>
                </div>
            </div>
        </div>
    </nav>
            
        <h4>
            <!--<a href="/myapp/hello/{{item.id}}/">-->
            {% for item in items %}
            <a href="{% url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Имя: {{item.name}} | Цена: {{item.price}} | {{item.description}} <br/>
            </a>
            {% endfor %}
        </h4>
    </body>
</html>